<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500647872743-td197ldgelrmurrihjce1jngl38eu3sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500647872743-td197ldgelrmurrihjce1jngl38eu3sj</string>
	<key>API_KEY</key>
	<string>AIzaSyC4t53pn-m703s9OI8Z-3ybF_0N2wPdSgw</string>
	<key>GCM_SENDER_ID</key>
	<string>500647872743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.binary.leaf</string>
	<key>PROJECT_ID</key>
	<string>personalitytest-15682</string>
	<key>STORAGE_BUCKET</key>
	<string>personalitytest-15682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500647872743:ios:4c312a589bd9761b</string>
	<key>DATABASE_URL</key>
	<string>https://personalitytest-15682.firebaseio.com</string>
</dict>
</plist>